PORT=5000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_MYSQL_PASSWORD
DB_NAME=inventory_management //create a database named this in pc first, then dump the .sql file using mysql -u root -p inventory_management < inventory_management_final.sql

JWT_SECRET=YOUR_RANDOM_JWT_SECRET //0e57d1d1b78bc7836285c7cc7dd1d2aba4a1bb0f2806e0b3550231c85e6c43101167a689b16f37a20a216e8b96ed91d51d2e3706fe1bb966b1499d9f4201b017