-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: inventory_management
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset_assignment`
--

DROP TABLE IF EXISTS `asset_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_assignment` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `inventory_id` int NOT NULL,
  `user_id` int NOT NULL,
  `quantity` int NOT NULL,
  `assigned_by` int NOT NULL,
  `assigned_date` date NOT NULL,
  `remarks` text,
  `status` tinyint DEFAULT '1',
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assignment_id`),
  KEY `fk_assignment_inventory_idx` (`inventory_id`),
  KEY `fk_asset_assignment_users1_idx` (`user_id`),
  KEY `fk_asset_assignment_users1_idx1` (`assigned_by`),
  CONSTRAINT `fk_assignment_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_assignment_inventory` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`inventory_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_assignment_users` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_assignment`
--

LOCK TABLES `asset_assignment` WRITE;
/*!40000 ALTER TABLE `asset_assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_disposal`
--

DROP TABLE IF EXISTS `asset_disposal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_disposal` (
  `disposal_id` int NOT NULL AUTO_INCREMENT,
  `assignment_id` int NOT NULL,
  `disposed_by` int NOT NULL,
  `quantity` int NOT NULL,
  `reason` text,
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  `remarks` text,
  `disposed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`disposal_id`),
  KEY `fk_disposal_assignment_idx` (`assignment_id`),
  KEY `fk_disposal_requests_users1_idx` (`disposed_by`),
  CONSTRAINT `fk_disposal_assignment` FOREIGN KEY (`assignment_id`) REFERENCES `asset_assignment` (`assignment_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_disposal_requested_by` FOREIGN KEY (`disposed_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_disposal`
--

LOCK TABLES `asset_disposal` WRITE;
/*!40000 ALTER TABLE `asset_disposal` DISABLE KEYS */;
INSERT INTO `asset_disposal` VALUES (1,3,5,1,'Damaged','no','Testing disposal module','2026-08-02 15:30:12'),(2,5,7,1,'Damaged','no','testing disposal','2026-08-06 16:45:15'),(3,7,3,1,'Damaged','no','t5','2026-08-06 19:39:18'),(4,6,3,1,'Damaged','no','t6','2026-08-06 19:39:37'),(5,6,3,1,'Damaged','no','t7','2026-08-06 19:40:11'),(6,9,11,1,'Damaged','no','testing logic','2026-08-07 09:44:05'),(7,11,7,3,'Damaged','no','received damaged products','2026-08-08 19:30:59');
/*!40000 ALTER TABLE `asset_disposal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_history`
--

DROP TABLE IF EXISTS `asset_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `inventory_id` int NOT NULL,
  `performed_by` int NOT NULL,
  `action` enum('RECEIVED','ASSIGNED','TRANSFERRED','DISPOSED','UPDATED','CANCELLED','REJECTED') NOT NULL,
  `quantity` int NOT NULL,
  `reference_table` varchar(50) DEFAULT NULL,
  `reference_id` int DEFAULT NULL,
  `remarks` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `fk_asset_history_inventory1_idx` (`inventory_id`),
  KEY `fk_asset_history_users1_idx` (`performed_by`),
  CONSTRAINT `fk_history_inventory` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`inventory_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_performed_by_id` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_history`
--

LOCK TABLES `asset_history` WRITE;
/*!40000 ALTER TABLE `asset_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets`
--

DROP TABLE IF EXISTS `assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assets` (
  `asset_id` int NOT NULL AUTO_INCREMENT,
  `asset_name` varchar(150) NOT NULL,
  `unit` varchar(20) NOT NULL,
  `description` text,
  `status` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  PRIMARY KEY (`asset_id`),
  UNIQUE KEY `uq_asset_name` (`asset_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets`
--

LOCK TABLES `assets` WRITE;
/*!40000 ALTER TABLE `assets` DISABLE KEYS */;
INSERT INTO `assets` VALUES (1,'Laptop','Pieces','Dell Latitude 5420 - Updated',1,'2026-07-31 08:47:47','yes'),(2,'Keyboard','Pieces','Mechanical Keyboard',1,'2026-08-01 12:46:02','no');
/*!40000 ALTER TABLE `assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadres`
--

DROP TABLE IF EXISTS `cadres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadres` (
  `cadre_id` int NOT NULL AUTO_INCREMENT,
  `cadre_name` varchar(100) NOT NULL,
  `description` text,
  `status` tinyint DEFAULT '1',
  PRIMARY KEY (`cadre_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadres`
--

LOCK TABLES `cadres` WRITE;
/*!40000 ALTER TABLE `cadres` DISABLE KEYS */;
INSERT INTO `cadres` VALUES (1,'Scientist','Scientific Staff',1),(2,'Technical','Technical Staff',1),(3,'Administrative','Administrative Staff',1),(4,'Contractual','Contract Employees',1);
/*!40000 ALTER TABLE `cadres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `designations`
--

DROP TABLE IF EXISTS `designations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `designations` (
  `desig_id` int NOT NULL AUTO_INCREMENT,
  `designation_name` varchar(100) NOT NULL,
  `description` text,
  `status` tinyint DEFAULT '1',
  PRIMARY KEY (`desig_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `designations`
--

LOCK TABLES `designations` WRITE;
/*!40000 ALTER TABLE `designations` DISABLE KEYS */;
INSERT INTO `designations` VALUES (1,'Scientist C','Scientist Grade C',1),(2,'Scientist D','Scientist Grade D',1),(3,'Senior Technician','Senior Technical Staff',1),(4,'Assistant','Administrative Assistant',1);
/*!40000 ALTER TABLE `designations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `groups` (
  `group_id` int NOT NULL AUTO_INCREMENT,
  `group_name` varchar(100) NOT NULL,
  `description` text,
  `status` tinyint DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  PRIMARY KEY (`group_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
INSERT INTO `groups` VALUES (1,'IT Department','Handles all IT assets',1,'2026-07-29 16:08:20','yes'),(2,'Group1','created for testing',1,'2026-08-05 09:45:44','no'),(3,'group2','testing delete feature',1,'2026-08-05 16:39:29','yes'),(4,'Group2','created for testing cross group transfers',1,'2026-08-07 08:39:55','no');
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internal_designations`
--

DROP TABLE IF EXISTS `internal_designations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internal_designations` (
  `internal_desig_id` int NOT NULL AUTO_INCREMENT,
  `designation_name` varchar(100) NOT NULL,
  `description` text,
  `status` tinyint DEFAULT '1',
  PRIMARY KEY (`internal_desig_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internal_designations`
--

LOCK TABLES `internal_designations` WRITE;
/*!40000 ALTER TABLE `internal_designations` DISABLE KEYS */;
INSERT INTO `internal_designations` VALUES (1,'Inventory Holder','Responsible for inventory management',1),(2,'Store Incharge','Responsible for store management',1),(3,'Lab Incharge','Responsible for laboratory inventory',1),(4,'Project Lead','Project management role',1);
/*!40000 ALTER TABLE `internal_designations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `inventory_id` int NOT NULL AUTO_INCREMENT,
  `asset_id` int DEFAULT NULL,
  `sr_no` int NOT NULL,
  `ledger_number` varchar(50) DEFAULT NULL,
  `quantity_received` int NOT NULL DEFAULT '0',
  `quantity_available` int NOT NULL DEFAULT '0',
  `purchase_cost` decimal(12,2) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `received_by` int DEFAULT NULL,
  `remarks` text,
  `status` tinyint DEFAULT '1',
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `quantity_disposed` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`inventory_id`),
  KEY `fk_inventory_assets1_idx` (`asset_id`),
  KEY `fk_inventory_received_by_idx` (`received_by`),
  CONSTRAINT `fk_inventory_assets` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`asset_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_inventory_received_by` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
INSERT INTO `inventory` VALUES (1,2,2,'LED-002-UPDATED',30,30,60000.00,'2026-08-02',3,'Updated purchase',1,'yes','2026-08-01 12:46:20',0),(2,2,1,'LED-001',20,1,45000.00,'2026-08-01',3,'Dell purchase',1,'no','2026-08-01 16:31:46',5),(3,2,2,'LED-004',20,13,750000.00,'2026-08-07',11,NULL,1,'no','2026-08-07 09:24:44',1),(4,2,5,'LED-005',30,22,4000.00,'2026-08-09',3,NULL,1,'no','2026-08-08 19:29:18',3);
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `receiver_id` int NOT NULL,
  `title` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `is_read` tinyint NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`notification_id`),
  KEY `fk_notification_receiver_idx` (`receiver_id`),
  CONSTRAINT `fk_notifications_receiver` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_requests`
--

DROP TABLE IF EXISTS `transfer_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfer_requests` (
  `transfer_request_id` int NOT NULL AUTO_INCREMENT,
  `assignment_id` int NOT NULL,
  `requested_by` int NOT NULL,
  `to_user` int NOT NULL,
  `quantity` int NOT NULL,
  `same_group_transfer` enum('yes','no') NOT NULL DEFAULT 'no',
  `reason` text,
  `source_holder_status` tinyint DEFAULT NULL,
  `destination_holder_status` tinyint DEFAULT NULL,
  `status` tinyint DEFAULT '1',
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  `requested_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `source_approved_at` timestamp NULL DEFAULT NULL,
  `destination_approved_at` timestamp NULL DEFAULT NULL,
  `remarks` text,
  PRIMARY KEY (`transfer_request_id`),
  KEY `fk_transfer_assignment_idx` (`assignment_id`),
  KEY `fk_transfer_requested_by_idx` (`requested_by`),
  KEY `fk_transfer_to_user` (`to_user`),
  CONSTRAINT `fk_transfer_assignment` FOREIGN KEY (`assignment_id`) REFERENCES `asset_assignment` (`assignment_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_requested_by` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_to_user` FOREIGN KEY (`to_user`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_requests`
--

LOCK TABLES `transfer_requests` WRITE;
/*!40000 ALTER TABLE `transfer_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(80) DEFAULT NULL,
  `gen` varchar(20) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `mobile_no` varchar(15) DEFAULT NULL,
  `email_id` varchar(100) DEFAULT NULL,
  `cadre_id` int DEFAULT NULL,
  `desig_id` int DEFAULT NULL,
  `internal_desig_id` int DEFAULT NULL,
  `role` enum('ADMIN','INVENTORY_HOLDER','USER') NOT NULL,
  `telephone_no` varchar(11) DEFAULT NULL,
  `user_name` varchar(30) NOT NULL,
  `password` varchar(255) NOT NULL,
  `status` tinyint NOT NULL DEFAULT '1',
  `is_gazetted` enum('yes','no') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_deleted` enum('yes','no') NOT NULL DEFAULT 'no',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `user_type` enum('permanent','temporary','generic') DEFAULT NULL,
  `group_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_username` (`user_name`),
  UNIQUE KEY `unique_email` (`email_id`),
  KEY `fk_users_groups_idx` (`group_id`),
  KEY `fk_users_cadres_idx` (`cadre_id`),
  KEY `fk_users_designations_idx` (`desig_id`),
  KEY `fk_users_internal_designations_idx` (`internal_desig_id`),
  CONSTRAINT `fk_users_cadres` FOREIGN KEY (`cadre_id`) REFERENCES `cadres` (`cadre_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_users_designations` FOREIGN KEY (`desig_id`) REFERENCES `designations` (`desig_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_users_groups` FOREIGN KEY (`group_id`) REFERENCES `groups` (`group_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_users_internal_designations` FOREIGN KEY (`internal_desig_id`) REFERENCES `internal_designations` (`internal_desig_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-09 15:55:40
